aacs/
gconf/
gtk-2.0/
Tom Thielicke IT Solutions/
Trolltech.conf
yarn/global/node_modules/
mpd/mpd.log
mpd/mpdstate
mpd/mpd.pid
mpd/mpd.db
mpd/mpd.state
mpd/sticker.sql
ncmpcpp/error.log
slack-term/com.config.json
Slack
autostart
chromium
*.tdb
skypeforlinux
pulse/cookie
gtk-3.0
menus
QtProject.conf
dconf/user
credentials
vlc
okularrc
Mailspring/
MineTime/
vlc/
pulse/
i3/config
polybar/config
xorg/Xresources
RescueTime.com/
libreoffice/
okularpartrc
systemd/user/default.target.wants
qutebrowser/
rclone/
configstore/update-notifier-npm.json
Nextcloud/
nautilus
VirtualBox/
kglobalshortcutsrc
konversationrc
rclone-browser/
teiler/
Code/
