aacs/
gconf/
gtk-2.0/
Tom Thielicke IT Solutions/
Trolltech.conf
yarn/global/node_modules/
mpd/mpd.log
mpd/mpdstate
mpd/mpd.pid
mpd/mpd.db
mpd/mpd.state
mpd/sticker.sql
slack-term/com.config.json
Slack
autostart
chromium
*.tdb
skypeforlinux
pulse/cookie
gtk-3.0
menus
QtProject.conf
dconf/user
credentials
systemd
vlc
okularrc
Mailspring/
MineTime/
vlc/
pulse/
