yarn/global/node_modules/
mpd/mpd.log
mpd/mpdstate
mpd/mpd.pid
mpd/mpd.db
slack-term/com.config.json
Slack
autostart
chromium
*.tdb
skypeforlinux
pulse/cookie
gtk-3.0
menus
QtProject.conf
dconf/user
credentials
mpd/mpd.state
mpd/sticket.sql
systemd
vlc/vlc-qt-interface.conf
