###---Basic Definitions---###
  ###---Variables---###

    ###---Monitors and workspaces---###

      # Define outputs as monitors
      set $monitor1 DP-1
      set $monitor2 DP-2

      # Define workspaces
      set $ws1 "A1"
      set $ws2 "B1"
      set $ws3 "C1"
      set $ws4 "D1"
      set $ws5 "E1"
      set $ws6 "A2"
      set $ws7 "B2"
      set $ws8 "C2"
      set $ws9 "D2"
      set $ws0 "E2"

      # Assign workspaces to monitors 
      workspace $ws1 output $monitor1
      workspace $ws2 output $monitor1
      workspace $ws3 output $monitor1
      workspace $ws4 output $monitor1
      workspace $ws5 output $monitor1
      workspace $ws6 output $monitor2
      workspace $ws7 output $monitor2
      workspace $ws8 output $monitor2
      workspace $ws9 output $monitor2
      workspace $ws0 output $monitor2

    ###---Colors---###
      set $green      #99f99c
      set $darkgreen  #008c00
      set $white      #ffffff
      set $darkwhite  #a8a19f
      set $grey       #bdbebc
      set $darkgrey   #8f8f8d
      set $black      #000000

    ###---Apps---### 
      # Terminal
      set $term --no-startup-id urxvt 

  ###---Preferences---###
    # Set the modifier key
    set $mod Mod4
    set $alt Mod1
    
    # Font for window titles:
    font pango:Monaco 8
    
    # Set gaps around windows to be:
    gaps inner 0
    gaps outer 0

    # Set border settings:
    for_window [class="^.*"] border pixel 0

    # Set colors to be:
    # class                 border          background          text          indicator         child_border
    client.focused          transparent       $darkgrey               $black        $grey             transparent
    client.focused_inactive #333333         #5f676a             #ffffff       #484e50           #5f676a
    client.unfocused        #333333         #222222             #888888       #292d2e           #222222
    client.urgent           #2f343a         #900000             #ffffff       #900000           #900000
    client.placeholder      #000000         #0c0c0c             #ffffff       #000000           #0c0c0c
    client.background       #ffffff


###---Window Navigation---###
  ###---Act on focused window---###
    # kill focused window
    bindsym $mod+Shift+q kill
    
    # split in horizontal orientation
    bindsym $mod+h split h
    
    # split in vertical orientation
    bindsym $mod+v split v
    
    # enter fullscreen mode for the focused container
    bindsym $mod+Shift+F fullscreen toggle
    
    # change container layout (stacked, tabbed, toggle split)
    bindsym $mod+s layout stacking
    bindsym $mod+w layout tabbed
    bindsym $mod+e layout toggle split
    
    # toggle tiling / floating
    bindsym $mod+f floating toggle
  
    # Use Mouse+$mod to drag floating windows to their wanted position
    floating_modifier $mod

  ###---Change focus---###
    # change focus between tiling / floating windows
    bindsym $mod+$alt+f focus mode_toggle
    
    # focus the parent container
    bindsym $mod+a focus parent
    
    # focus the child container
    #bindsym $mod+d focus child

    # change focus
    bindsym $mod+j focus left
    bindsym $mod+k focus down
    bindsym $mod+l focus up
    bindsym $mod+semicolon focus right
    
    # alternatively, you can use the cursor keys:
    bindsym $mod+Left focus left
    bindsym $mod+Down focus down
    bindsym $mod+Up focus up
    bindsym $mod+Right focus right
    
    # switch to workspace
    bindsym $mod+1 workspace $ws1, workspace $ws6
    bindsym $mod+2 workspace $ws2, workspace $ws7
    bindsym $mod+3 workspace $ws3, workspace $ws8
    bindsym $mod+4 workspace $ws4, workspace $ws9
    bindsym $mod+5 workspace $ws5, workspace $ws0

  ###---Move windows---###
    # move focused window
    bindsym $mod+Shift+j move left
    bindsym $mod+Shift+k move down
    bindsym $mod+Shift+l move up
    bindsym $mod+Shift+semicolon move right
    
    # alternatively, you can use the cursor keys:
    bindsym $mod+Shift+Left move left
    bindsym $mod+Shift+Down move down
    bindsym $mod+Shift+Up move up
    bindsym $mod+Shift+Right move right

    # move focused container to workspace
    bindsym $mod+Shift+1 move container to workspace $ws1
    bindsym $mod+Shift+2 move container to workspace $ws2
    bindsym $mod+Shift+3 move container to workspace $ws3
    bindsym $mod+Shift+4 move container to workspace $ws4
    bindsym $mod+Shift+5 move container to workspace $ws5
    bindsym $mod+Shift+6 move container to workspace $ws6
    bindsym $mod+Shift+7 move container to workspace $ws7
    bindsym $mod+Shift+8 move container to workspace $ws8
    bindsym $mod+Shift+9 move container to workspace $ws9
    bindsym $mod+Shift+0 move container to workspace $ws0


  ###---Resize windows---###
    # resize window (you can also use the mouse for that)
    mode "resize" {
            # These bindings trigger as soon as you enter the resize mode
    
            # Pressing left will shrink the window’s width.
            # Pressing right will grow the window’s width.
            # Pressing up will shrink the window’s height.
            # Pressing down will grow the window’s height.
            bindsym j resize shrink width 10 px or 10 ppt
            bindsym k resize grow height 10 px or 10 ppt
            bindsym l resize shrink height 10 px or 10 ppt
            bindsym semicolon resize grow width 10 px or 10 ppt
    
            # same bindings, but for the arrow keys
            bindsym Left resize shrink width 10 px or 10 ppt
            bindsym Down resize grow height 10 px or 10 ppt
            bindsym Up resize shrink height 10 px or 10 ppt
            bindsym Right resize grow width 10 px or 10 ppt
    
            # back to normal: Enter or Escape or $mod+r
            bindsym Return mode "default"
            bindsym Escape mode "default"
            bindsym $mod+r mode "default"
    }

    # Activate resize mode with:
    bindsym $mod+r mode "resize"


###---Keyboard layout bindings---###
  bindsym $alt+Shift+1 exec setxkbmap -layout us # English
  bindsym $alt+Shift+2 exec setxkbmap -layout ua # Ukrainian
  bindsym $alt+Shift+3 exec setxkbmap -layout ru # Russian
  bindsym $alt+Shift+4 exec setxkbmap -layout pl # Polish
  bindsym $alt+Shift+5 exec setxkbmap -layout es # Spanish


###---System bindings---###

  # Reload the configuration file
  bindsym $mod+F2 reload
  # Restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
  bindsym $mod+F3 exec "killall compton"; reload ; restart
  # Exit i3 (logs you out of your X session)
  bindsym $mod+F4 exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
  
###---Application bindings---###
  # Start a terminal
  bindsym $mod+Return exec $term
  ###---Launcher bindings---###
    # Start a desktop app
    bindsym $alt+space exec "rofi -modi drun -show drun"
    # Switch to a window
    bindsym $alt+Tab exec "rofi -modi window -show window"
    # Show HUD-menu
    bindsym $alt+1 exec $HOME/.config/scripts/i3-hud-menu.py
    # Search through a clipboard
    bindsym $alt+2 exec "rofi -modi 'clipboard:greenclip print' -show clipboard -run-command '{cmd}'"
    # Search through bookmarks
    bindsym $alt+3 exec "buku_run"
    # Show screenshot/screencast options
    bindsym $alt+4 exec "teiler"
    # Start ssh session
    bindsym $alt+5 exec "rofi -modi ssh -show ssh"

    # List available wifi networks
    # bindsym $alt+3 exec "tty-pipe nmcli device wifi | out2html -p | rofi -dmenu -markup-rows"
  # Start a web browser
  bindsym $mod+Shift+T exec chromium
  # Start a file manager
  bindsym $mod+Shift+R exec $term -e ranger

  # Lock the screen
  bindsym $mod+Ctrl+L exec i3lock-fancy -- scrot -z

  # start dmenu (a program launcher)
  bindsym $mod+d exec dmenu_run
  # There also is the (new) i3-dmenu-desktop which only displays applications
  # shipping a .desktop file. It is a wrapper around dmenu, so you need that
  # installed.
  # bindsym $mod+d exec --no-startup-id i3-dmenu-desktop


###---Starting External Scripts---###
  # Start xrandr to configure multi-monitor setup
  exec --no-startup-id xrandr --output $monitor2 --right-of $monitor1 --auto

  # Load configuration from .Xresources
  exec_always --no-startup-id xrdb $HOME/.config/xorg/Xresources
  
  # Start compton to enable transitions, transparency and other effects
  exec_always compton --config $HOME/.config/i3/compton.conf
  
  # Start owncloud client to sync all working directory files
  exec --no-startup-id nextcloud

  # Start pulseaudio, general purpose sound server
  exec pulseaudio
  
  # Start mpd, music player daemon:
  exec --no-startup-id mpd
  
  # Start polybar to display a workspace bar and the system information
  exec_always --no-startup-id $HOME/.config/polybar/launch.sh

  # Start clipboard manager's daemon
  exec_always --no-startup-id greenclip daemon

  # Start i3-appmenu-service to extact menus from all desktop apps
  exec_always --no-startup-id exec $HOME/.config/scripts/i3-appmenu-service.py


