/* Hide horizontal tabs at the top of the window
 * https://github.com/piroor/treestyletab/issues/1349
 */

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Hide Tree Style Tab sidebar
 * https://github.com/piroor/treestyletab/issues/1397
 */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

#sidebar-box + #sidebar-splitter {
  width: 1px !important;	
}


/* Hide the titlebar and browser tabs by moving them out of the frame, urlbar will then be displayed at the top of the window */
#titlebar, #tabbrowser-tabs {
  margin: 0px !important;
}
