;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;==========================================================

[colors]
include-file = /home/sviat/.config/polybar/colors.ini

[bar/main]
include-file = /home/sviat/.config/polybar/bars/main.ini

[module/separators]
include-file = /home/sviat/.config/polybar/modules/separators.ini

[module/xwindow]
include-file = /home/sviat/.config/polybar/modules/xwindow.ini

[module/xkeyboard]
include-file = /home/sviat/.config/polybar/modules/xkeyboard.ini

[module/filesystem]
include-file = /home/sviat/.config/polybar/modules/filesystem.ini

[module/i3]
include-file = /home/sviat/.config/polybar/modules/i3.ini

[module/mpd]
include-file = /home/sviat/.config/polybar/modules/mpd.ini

[module/cpu]
include-file = /home/sviat/.config/polybar/modules/cpu.ini

[module/memory]
include-file = /home/sviat/.config/polybar/modules/memory.ini

[module/wlan]
include-file = /home/sviat/.config/polybar/modules/wlan.ini

[module/eth]
include-file = /home/sviat/.config/polybar/modules/eth.ini

[module/date]
include-file = /home/sviat/.config/polybar/modules/date.ini

[module/pulseaudio]
include-file = /home/sviat/.config/polybar/modules/pulseaudio.ini

[module/temperature]
include-file = /home/sviat/.config/polybar/modules/temperature.ini

[settings]
include-file = /home/sviat/.config/polybar/settings.ini
